@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* border:1px solid blue; */
}
p{
    font-weight: 300;
    color: #111;
}
.ban{
     position: relative;
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     background: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),url('Images/bg-04.jpg');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.ban .box{
    max-width: 1000px;
    text-align: center;
}
.ban .box h3{
    font-size: 5rem;
    color: #fff;
}
.ban .box p{
    font-size: 1rem;
    color: #fff;
}
.bnt{
    font-size: 1rem;
    color: #fff;
    background:rgb(57, 78, 95);
    /* background: rgb(64, 218, 26); */
    padding: 10px 30px;
    text-decoration: none;
    margin-top:10px;
    text-transform: uppercase;
    display: inline-block;
    transition-duration: 1.5s;
    letter-spacing: 3px;
    border-radius: 30px;
    /*   */
}
.bnt:hover{
    letter-spacing: 8px;
    background: red;
}
header{
    position: fixed;
    width: 100%;
    padding: 20px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.75s;
}
header .logo{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
}
header .nav{
    position: relative;
    display: flex;
}
header .nav li{
    list-style: none;
    margin-left: 30px;
    height:100%;
}
header .nav li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
}
header.sticky{
    background: rgba(255,255,255,0.85);
    padding: 0px 100px;
    box-shadow: 0 5px 20px rbga(0,0,0,0,0.5);
    height:3.75rem;
}
header.sticky .logo{
    color: rgb(0, 0, 0);
}
header.sticky ul{
    height:100%;
}
header.sticky ul li{
    height:90%;
    display:flex;
    align-items: center;
}
header.sticky ul li a{
    color:rgb(204, 34, 34);
}
header.sticky .nav li:hover{
    border-bottom: 5px solid #ff0157;
}
.goToTop{
    height:69px;
    width:69px;
    border-radius: 50%;
    background:white;
    position:fixed;
    right:30px;
    bottom:20px;
    z-index:1000;
    display:none;
}
.goToTop img{
    width:70px;
}
.goToTop.sticky{
    display: inline-block;
}
section{
    padding: 100px; 
}
.about{
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
}
.row .keshav{
    display:inline-block;
    width:50%;
}
img{
    width:500px;

}
 .title {
    color: #111;
    font-weight: 300;
    font-size:2rem ;
    letter-spacing: 0.2rem;
    display: inline-block;
}
.title span{
    color: #ff0157;
    font-weight: 700;
    font-size: 4rem;
}
.keshav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box{
    width: 340px;
    margin: 20px;
    border: 20px solid rgb(255, 255, 255);
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.menu .content .box .imgbx{
    position: relative;
    width: 100%;
    height: 300px;

}
.menu .content .box .imgbx img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .content .box .text h3{
    font-weight: 400;
    padding: 15px 0 5px 20px;
}
.expert .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.expert .content .box{
    width: 250px;
    margin: 15px;
}
.expert .content .box .imgbx{
    position: relative;
    width: 100%;
    height: 300px;
}
.expert .content .box .imgbx::after{
    content:'';
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    color:white;
    z-index:10;
    transition:0.5s;
    opacity:0;
}
.expert .content .box:hover .imgbx::after{
    opacity:1;
}
.expert .content .box:nth-child(1) .imgbx::after{
    content:'Tony Stark';
}
.expert .content .box:nth-child(2) .imgbx::after{
    content:'Steve Rogers';
}
.expert .content .box:nth-child(3) .imgbx::after{
    content:'Dr.Bruce Banner';
}
.expert .content .box .imgbx img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:0;
}
/* .contact{
    background: url(5.jpg);
    background-size:cover ;
}
.keshavt .title{
    color: #fff;
}
.keshavt .title ,
 p
{
    color: #fff;
}
.contact .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.contact .content .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    padding:40px;
    width: 340px;
    flex-direction: column;
    background: #fff;
}
.contact .content .box .imgbx {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.contact .content .box .imgbx img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
footer{
    background:rgb(70, 70, 70);
    color:white;
    font-size:1.25rem;
    text-align: center;
    padding:10px 0px;
}